.headerTop {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .headerTop {
    justify-content: flex-start;
  }
  .profile {
    position: absolute;
    right: 18px;
    top: 35px;
  }
}
