.MedicinesTab button {
  background-color: var(--gray-bg);
  margin-right: 6px;
  min-height: 25px;
  min-width: 33px;
  max-width: 33px;
  line-height: 0;
  font-size: 14px;
  text-transform: capitalize;
  border-radius: 5px;
  padding: 0px;
}
