.pricingContainer {
  border-radius: 10px;
  background-color: var(--gray-bg) !important;
  padding: 15px 15px;
  margin-top: 30px;
  min-height: 165px;
}

.packBtn {
  color: var(--primary-color);
  border-color: #a0a0a0;
  border-width: 1px;
  border-radius: 10px;
  font-weight: 500;
  padding: 12px !important;
  margin-right: 14px;
  margin-bottom: 10px;
  font-size: 14px;
  width: 31%;
  transition: all 0.3s;
}

.packBtn:hover {
  background-color: #1976d2;
  color: #fff;
}
.packBtn:last-child {
  margin-right: 0px;
}
.selectedTimeSlot {
  background-color: #1976d2;
  color: #fff;
}
