.productCard {
  background: #ffffff;
  border: 1px solid #ddebf8;
  box-sizing: border-box;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}
.ctaAtcart {
  font-style: normal;
  font-weight: 600 !important;
  font-size: 16px !important;
  color: var(--primary-color) !important;
  text-align: center !important;
  width: 100% !important;
  margin-top: 12px !important;
  text-transform: initial;
  display: flex;
  align-items: center;
}
.ctaAtcart:hover {
  background-color: var(--primary-color) !important;
  color: var(--white) !important;
}
