.pricingContainer {
  border-radius: 10px;
  background-color: var(--gray-bg);
  padding: 15px 15px;
}
.pricingContainer .discountedPrice {
  color: var(--deep-yellow);
  font-weight: 800;
  margin-top: 26px;
  font-size: 24px;
  line-height: 14px;
}
.pricingContainer .actualPrice {
  color: var(--blury-gray);
  text-decoration: line-through;
  font-size: 14px;
}
.pricingContainer .discount {
  color: var(--sea-green);
  font-weight: 600;
  margin-left: 7px;
}
.packBtn {
  color: var(--dawaai-blue);
  border-color: #a0a0a0;
  font-size: 12px;
  text-transform: capitalize;
  border-width: 1.9px;
  border-radius: 10px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .pricingContainer .discountedPrice {
    margin-top: 2px;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .pricingContainer {
    margin-right: 20px;
    margin-left: 20px;
  }
}
