.slider {
    width: 100%;
    text-align: center;
    overflow: hidden;
  }
   .slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
   }
  
  .slides > div {
       scroll-snap-align: start;
      flex-shrink: 0;
      width:auto;
      margin-right: 15px;
      border-radius: 10px;
      transform-origin: center center;
      transition: transform 0.5s;
      position: relative;
      display: flex;
      justify-content: center;
  }