.discountLabel {
    background: #C9E7FF;
    opacity: 0.9;
    border-radius: 8px 0px 0px 8px;
    position: absolute;
    right: 0;
    padding: 3px 15px 3px 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.discountLabel > span {
    font-size: 12px;
    font-weight: 600;
    color: #003B82;
}
@media(max-width:768px){
    .discountLabel {
        padding: 3px 9px 3px 9px;
    }  
}
