.gridBack {
    background-color: #003b82;
    width: max-content;
  }
  
  .logo {
    position: absolute;
    margin-top: 5%;
    margin-left: 4%;
  }
  
  .ellipse1 {
    position: absolute;
  }
  
  .ellipse2 {
    position: absolute;
    right: 0px;
  }
  
  .loginButton {
    width: 100%;
    height: 50px;
    background-color: #003b82;
    border-radius: 12px;
    color: white;
    font-size: 16px;
    box-shadow: none;
    top: 20px;
    font-weight: 600;
    text-transform: capitalize;
  }
  
  .formContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .bottomPara {
    justify-content: center;
    position: absolute;
    bottom: 0px;
    left: 25%;
    color: #878ca3;
  }
  
  .idField {
    margin-bottom: 20px;
    width: 100%;
  }
  
  .passwordField {
    width: 100%;
  }
  
  .copyrightDiv {
    text-align: center;
  }
  
  .headingDiv {
    text-align: left;
    width: 100%;
  }
  
  .loginText {
    font-weight: 600;
  }
  
  .loginPara {
    color: #878ca3;
    white-space: nowrap;
  }
  
  .aboutDawaai {
    font-weight: 600;
    color: white;
  }
  
  @media (max-width: 900px) {
    .idField {
      width: 100%;
    }
  
    .passwordField {
      width: 100%;
    }
  
    .loginButton {
      width: 100%;
    }
  
    .bottomPara {
      right: 25%;
      position: absolute;
      bottom: 0px;
      color: #878ca3;
    }
  
    .pngPak {
      display: none;
    }
  
    .ellipse1 {
      display: none;
    }
  
    .logo {
      top: 100%;
      width: 60%;
      height: 60%;
    }
  
    .aboutDawaai {
      top: 0;
      font-size: 100%;
      font-weight: 500;
    }
  
    .gridBack {
      height: 40vh;
    }
  
    .formContainer {
      height: 60vh;
      top: -10%;
    }
  
    .loginForm {
      height: 0;
    }
  
    .bottomPara {
      bottom: -50px;
      left: 12%;
      white-space: nowrap;
      font-size: 13px;
      padding-bottom: 20px
  
    }
  
    .ellipse2 {
      top: -50px;
    }
  
    .loginPara {
      font-size: 13px;
    }
  }
  