.loginButton {
  width: 100%;
  height: 50px;
  background-color: #1976d2;
  border-radius: 12px;
  color: white;
  font-size: 16px;
  box-shadow: none;
  top: 20px;
  font-weight: 600;
  text-transform: capitalize;
}

.formContainer {
  height: 100vh;
  display: grid;
  place-content: center;
  background-color: #f1f1f1;
}
.formContainer > div:first-child {
  width: 380px;
  padding: 16px 20px 20px 20px;
  background-color: white;
  border-radius: 12px;
}
.bottomPara {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  color: #878ca3;
  padding-bottom: 20px;
}

.idField {
  margin-bottom: 20px;
  width: 100%;
}

.passwordField {
  width: 100%;
}

.copyrightDiv {
  text-align: center;
}

.headingDiv {
  text-align: left;
  width: 100%;
}

.loginText {
  font-weight: 600;
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginPara {
  color: #878ca3;
  white-space: nowrap;
}

@media (max-width: 900px) {
  .idField {
    width: 100%;
  }

  .loginButton {
    width: 100%;
  }

  .gridBack {
    height: 40vh;
  }

  .formContainer {
    height: auto;
    top: -10%;
    background-color: white;
  }

  .bottomPara {
    white-space: nowrap;
    font-size: 13px;
  }

  .loginPara {
    font-size: 13px;
  }
}
.link {
  font-size: 14px;
  margin-top: 24px;
  color: var(--primary-color);
}
.link:hover {
  color: var(--primary-color);
}
