.boxStyles {
  border: 1px var(--border-gray) solid;
  border-radius: 6px;
  height: 250px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .boxStyles {
    height: 200px;
  }
}
.brandName {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  width: fit-content;
  text-align: center;
  padding-top: 12px;
}
.brandName:hover,
.brandName:active,
.brandName:focus {
  text-decoration: underline;
}
