.Carousel{
    max-height: 312px!important;
}
@media (max-width: 768px) {
    .Carousel{
        max-height: 250px!important;
    }
    .Carousel>div:first-child{
        height: 250px!important;
    }
}