.breadcrumb {
  font-size: 12px;
  color: var(--light-text);
  margin-top: 10px;
  margin-bottom: 10px;
}
.breadcrumb a {
  color: var(--light-text);
}
.breadcrumb  svg:last-child{
    display: none;
}